@import "../../styles/variables";

.accordionItem {
  border-bottom: 1px solid $bg-bg-light-pink;
  &__titleContainer {
    button {
      background-color: #fff;
      border-radius: 100%;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__answer {
    font-size: 1.6rem;
    color: $text-light;
    line-height: 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

.removeBorder {
  border: none;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $text-bold;

  &__question {
    transition: all 0.3s ease;
    padding-bottom: 2.4rem;
    font-size: 1.8rem;
    width: 100vw;

    &_removeSpacing {
      padding-bottom: 0;
      font-size: 1.8rem;
    }

    &:hover {
      color: $accent-pink;
    }

    &_removeSapcing {
      padding-bottom: 0;
      background-color: aqua;
    }
  }
}
