@import "../../styles/variables";

.accordionItem {
  border-bottom: 1px solid $bg-bg-light-pink;

  &__titleContainer {
    button {
      background-color: #fff;
      border-radius: 100%;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 2.4rem;
    }
  }

  &__answer {
    font-size: clamp(1.4rem, 3vw, 1.6rem);
    color: $text-light;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
    font-weight: 400;
  }
}

.removeBorder {
  border: none;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-bold;
  padding-bottom: 2.4rem;

  &__question {
    font-size: clamp(1.6rem, 3vw, 1.8rem);
    font-weight: 600;
    line-height: 21.1px;

    &_removeSpacing {
      padding-bottom: 0;
      font-size: clamp(1.6rem, 3vw, 1.8rem);
      font-weight: 600;
    }

    &:hover {
      color: $accent-pink;
    }

    &_removeSapcing {
      padding-bottom: 0;
      background-color: aqua;
    }
  }
}
