@import "../../styles/variables";

.faqAccordion {
  max-width: 60rem;
  height: 100%;
  background-color: $bg-white;
  padding: clamp(2.4rem, 5vw, 4rem);
  border-radius: 1.6rem;
  margin: 0 2.4rem;
  z-index: 1;

  &__faq {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-lg;
  padding: 2px 0;

  &__heading {
    font-size: clamp(3.2rem, 8vw, 5.2rem);
    font-weight: 700;
  }

  &__icon {
    margin-right: 2.4rem;
  }
}
