@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

:root {
  --spacing-lg: 3.2rem;
  --spacing-md: 2.4rem;
}

$bg-dark-purple: #301534;
$bg-bg-light-pink: #f8eeff;
$bg-white: #fff;
$accent-pink: #ad28eb;

$text-bold: #301534;
$text-light: #8b6990;
$font-main: "Work Sans", sans-serif;

$spacing-lg: var(--spacing-lg);
$spacing-md: var(--spacing-md);

@media (max-width: 600px) {
  :root {
    --spacing-lg: 2.4rem;
    --spacing-md: 2rem;
  }
}
