@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

:root {
}

$bg-dark-purple: #301534;
$bg-bg-light-pink: #f8eeff;
$bg-white: #fff;
$accent-pink: #ad28eb;

$text-bold: #301534;
$text-light: #8b6990;

$font-main: "Work Sans", sans-serif;
