@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-main;
}

main {
  min-height: 100vh;
  background-color: $bg-bg-light-pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_cursor {
  cursor: url("../components/images/icons8-hand-cursor-30.png"), pointer;
}
